$font-color: white;
* {
    font-family: "proxima-nova-extra-condensed", sans-serif;
    font-weight: 100;
}

a,
p,
h1,
h2,
h3,
h4 {
    color: $font-color;
    text-decoration-style: none;
}

a:hover {
    text-decoration-style: none;
    text-decoration: none;
    transition: .2s;
    color: lightgrey;
}

ul {
    text-decoration-style: none;
    list-style-type: none;
}

.fa-bars {
    color: $font-color;
    margin-top: 1.5em;
}

.fa-bars:hover {
    color: lightgrey;
    transition: .2s;
}